* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #171E24;
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;
}

nav {
    background-color: #434343;
    color: white;
    height: 5vh;

    ul {
        a {
            text-decoration: none;

            li {
                padding: 1vh;
                list-style: none;
                color: white;

                font-size: 3vh;
                font-weight: bold;
            }
        }
    }
}

main {
    height: auto;

    #mainHead {
        display: flex;
        width: 100%;

        h3 {
            padding: 1vh;
            font-size: 5vh;
            color: white;
            justify-self: center;
        }

        select {
            margin: 1vh;
            justify-self: flex-end;
        }
    }
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movieCard {
    width: 28%;
    height: 30vh;
    min-width: 450px;

    margin: 3vh;
    padding: 2vh;

    background-color: #111111;
    color: #CECECE;

    @media screen and (max-width:960px) {
        width: 45%;
    }

    @media screen and (max-width:480px) {
        width: 90%;
    }

    img {
        float: left;

        height: 100%;
        width: 150px;
        object-fit: cover;

        padding-right: 20px;
    }

    .movieCardText {
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        h2{
            width: 100%;
        }
        .likeDiv {
            justify-self: flex-end;
            align-self: flex-end;
            margin: 1vh;

            width: 100%;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            font-size: 30px;
            color: #2EA33A;

            div {
                height: 50px;
                width: 50px;
                border-radius: 50%;

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 35px;

                background-color: #2EA33A;
                color: white;
            }
        }
    }

    .likeDiv:hover {
        cursor: pointer;
    }
}

footer {
    background-color: black;
    color: white;

    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
}